@media (max-width: 767px) {
  .wrapper .box3 {
    text-align: left;
  }
}
@media (max-width: 767px) {
  .border-title {
    text-align: left;
  }
}
@media (max-width: 767px) {
  .wrapper .box1 img.mid-img {
    margin-left: 0;
  }
  .wrapper .box1 .welcome {
    padding-bottom: 60px;
  }
  .wrapper .box1 .mid {
    flex-direction: column;
    gap: 40px;
  }
  .wrapper .box1 .mid .group > h3 {
    margin-bottom: 7px;
  }
  .wrapper .box1 .profile > a {
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper .box1 .welcome img {
    display: none;
  }
  .wrapper .box1 .welcome .group > p {
    text-align: left;
  }
  .wrapper,
  .wrapper2,
  .wrapper3, 
  .wrapper4,
  .wrapper5 {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .side {
    width: 50px;
    padding: 15px 10px;
  }
  .side > h3 {
    display: none;
  }
  .side > ul {
    margin-top: 0;
  }
  .side > ul li span {
    display: none;
  }
  .side > ul li i {
    padding-right: 0;
    font-size: 20px;
  }
  .side > ul li a {
    width: fit-content;
    padding: 10px;
  }
}
@media (min-width: 768px) {
  .search input:focus {
    width: 230px !important;
  }
}
@media (max-width: 767px) {
  nav .content .search input {
    width: 170px !important;
  }
  nav .content .search input {
    padding: 6px 6px 6px 30px;
  }
}
@media (max-width: 767px) {
  .wrapper .box4 .boxes .group {
    flex-basis: 100%;
  }
}
@media (max-width: 767px) {
  .wrapper .box5 .group {
    flex-direction: column;
  }
  .wrapper .box5 .group > p {
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper .box5 .group:not(:last-child) {
    padding-bottom: 25px;
  }
  .wrapper .box5 .border-title {
    text-align: center;
  }
  .wrapper .box5 .group > img {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .wrapper .box6 .group .desc2 {
    text-align: start;
  }
}
@media (max-width: 767px) {
  .wrapper .box7 {
    text-align: start;
  }
}
@media (max-width: 767px) {
  .wrapper .box9 {
    text-align: start;
  }
  .wrapper .box9 .group > img {
    display: none;
  }
}
@media (max-width: 767px) {
  .wrapper .box10 {
    text-align: start;
  }
}
@media (max-width: 767px) {
  .wrapper .box11 {
    text-align: start;
  }
}
@media (max-width: 767px) {
  .box13 {
    display: none;
  }
}
@media (max-width: 767px) {
  .settings1 {
    text-align: left;
  }
  .settings2 {
    text-align: left;
  }
  .settings3 {
    text-align: left;
  }
}
@media (max-width: 767px) {
  .wrapper .settings6 .group:nth-of-type(3) {
    flex-direction: column;
  }
  .wrapper .settings6 .group:nth-of-type(3) .background {
    flex: 1;
    width: auto;
    height: auto;
  }
}
@media (max-width: 767px) {
  .wrapper2 .profile2 {
    flex-direction: column;
  }
  .wrapper2 .profile2 .box1 {
    border-right: 0;
    border-bottom: 1px solid #eee;
  }
  .wrapper2 .profile2 .box2 {
    text-align: left;
  }
}
@media (max-width: 767px) {
  .wrapper2 .my-skills {
    text-align: start;
  }
}
@media (max-width: 767px) {
  .wrapper2 .my-skills .group span {
    font-size: 14px;
    padding: 4px 10px;
    background-color: #eee;
    border-radius: 7px;
    display: inline-block;
    margin-bottom: 7px;
  }
}
@media (max-width: 767px) {
  .wrapper2 {
    grid-template-areas:
      "fr fr fr"
      "ft ft ft"
      "fd fd fd";
  }
  .wrapper2 .my-skills {
    grid-area: ft;
  }
  .wrapper2 .lastest .group {
    flex-direction: column;
    text-align: center !important;
    gap: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .wrapper2 {
    grid-template-areas:
      "fr fr fr"
      "ft ft ft"
      "fd fd fd";
  }
}
@media (max-width: 767px) {
  .wrapper3 .project1 {
    text-align: start;
  }
  .wrapper3 .project1 .projects-group{
    padding: 20px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .wrapper3 .project1 .projects-group > span {
    flex-basis: calc(50% - 10px);
  }
  .wrapper3 .project1 .bar {
    width: 170px !important;
  }
}
@media (max-width: 767px) {
  .flex-wrapper {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .wrapper5 {
    width: calc(100% - 20px);
  }
  .file-static {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .wrapper .plan {
    text-align: left;
  }
  .wrapper .plan ul li::before {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .box13 table thead {
    width: 100%;
  }
}