:root {
  --main-color: #0075ff;
  --hover-color: #0d69d5;
  --orange-color: #f59e0b;
  --lime-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box10,
.box11,
.box12 {
  border-radius: 7px;
  overflow: hidden;
  background-color: white;
  padding: 20px;
  position: relative;
}
.box1 {
  border-radius: 7px;
  overflow: hidden;
  background-color: white;
}
.box13 {
  background-color: white;
  overflow: hidden;
  border-radius: 7px;
  padding: 20px;
  margin: 0 20px;
}
::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: #ccc;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover-color);
}
textarea::placeholder,
input::placeholder {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 500;
  font-size: 14px;
}
* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
::placeholder {
  transition: 0.3s ease;
}
.page {
  display: flex;
  min-height: 100vh;
}
.side {
  background-color: white;
  padding: 20px;
  min-height: 100vh;
  width: 250px;
  position: sticky;
  box-shadow: 0 0 10px #ddd;
  z-index: 1000;
  top: 0px;
}
.side > h3 {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: -1px;
}
.side > h3::before {
  content: "";
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  width: 14px;
  height: 14px;
  position: absolute;
  border-radius: 50%;
  border: 4px solid white;
  z-index: 1;
}
.side > h3::after {
  content: "";
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  width: 100px;
  height: 2px;
  position: absolute;
}
.side > ul {
  margin-top: 50px;
  position: sticky;
}
.side > ul li {
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 8px;
  justify-content: center;
}
.side > ul li.activated a,
.side > ul li.activated i {
  background-color: #f6f6f6;
  color: var(--main-color);
}
.side > ul li a {
  color: black;
  width: 100%;
  border-radius: 8px;
  height: 100%;
  transition: 0.3s ease;
  display: inline-block;
  padding: 14px 15px;
  font-weight: 500;
}
.side > ul li i {
  color: black;
  padding-right: 20px;
  transition: 0.3s ease;
}
.side > ul li a:hover {
  background-color: #f6f6f6;
  color: var(--main-color) !important;
}
.side > ul li a:hover i {
  background-color: #f6f6f6;
  color: var(--main-color) !important;
}
.another-page {
  overflow: hidden;
  flex: 1;
}
nav {
  background-color: white;
  height: fit-content;
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 0;
}
nav .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  gap: 35px;
}
nav .content .profile img {
  width: 40px;
  margin-left: 5px;
}
nav .content .search input {
  border: 1px solid #ccc;
  padding: 10px 10px 10px 30px;
  border-radius: 12px;
  outline: none;
  transition: 0.3s ease;
  width: 190px;
}
.search {
  position: relative;
}
.search i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4%;
  color: #777;
  font-weight: bold;
  font-size: 18px;
}
.profile {
  position: relative;
}
.profile i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -70%;
  font-size: 23px;
}
.profile i::after {
  content: "";
  border-radius: 50%;
  background-color: red;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 69%;
  top: -12px;
}
.search input:focus::placeholder {
  opacity: 0;
}
.search input:focus {
  width: 220px;
}
/*! Separator */
.main-title {
  padding: 20px 15px;
  position: relative;
  margin-bottom: 30px;
}
.main-title > h1 {
  position: relative;
  width: fit-content;
  margin: 0;
}
.main-title > h1::before {
  content: "";
  width: 40%;
  height: 3px;
  position: absolute;
  bottom: -12px;
  left: 0;
  background-color: black;
  z-index: 1;
}
.main-title > h1::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -12px;
  left: 0;
  background-color: white;
}
/*! Separator */
.wrapper,
.wrapper2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 25px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.wrapper3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.wrapper4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.wrapper5 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  width: 80%;
}
.flex-wrapper {
  display: flex;
}
.wrapper .box1 .welcome {
  padding: 20px;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
}
.wrapper .box1 .welcome img {
  width: 200px;
}
.wrapper .box1 .welcome .group > h2 {
  font-size: 25px;
  margin-bottom: 10px;
}
.wrapper .box1 .welcome .group > p {
  font-weight: 500;
  color: #777;
}
.wrapper .box1 .mid {
  background-color: white;
  padding: 20px 50px;
  display: flex;
  text-align: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: 30px;
}
.wrapper .box1 .mid > div {
  flex: 1;
}
.wrapper .box1 .mid .group > h3 {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 18px;
}
.wrapper .box1 .mid .group > p {
  color: #777;
  font-weight: 500;
}
.wrapper .box1 .profile {
  background-color: white;
  padding: 20px;
}
.wrapper .box1 .profile > a {
  background-color: var(--main-color);
  padding: 3px 15px;
  color: white;
  border-radius: 7px;
  margin-left: auto;
  display: block;
  width: fit-content;
}
.wrapper .box1 .profile > a:hover {
  background-color: var(--hover-color);
}
.wrapper .box1 img.mid-img {
  background-color: white;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin-left: 30px;
  border: 2px solid white;
  box-shadow: 0 0 6px #ddd;
  margin-top: -30px;
}
.border-title {
  margin-bottom: 20px;
}
.border-title > h2 {
  margin-bottom: 10px;
  font-size: 25px;
  letter-spacing: -1px;
}
.border-title > p {
  color: #777;
  font-weight: 500;
  line-height: 1.7;
}
.mini-title {
  margin-bottom: 20px;
}
.mini-title > h3 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
}
.mini-title > p {
  font-weight: 500;
  font-size: 13px;
  color: #777;
  font-weight: 500;
}
.wrapper .box2 form {
  display: block;
  caret-color: var(--main-color);
}
.wrapper .box2 form > input {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  background-color: #eee;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.wrapper .box2 form > textarea {
  display: block;
  width: 100%;
  min-height: 180px;
  background-color: #eee;
  border-radius: 5px;
  padding: 10px;
  border: none;
  outline: none;
}
.wrapper .box2 > input {
  background-color: var(--main-color);
  padding: 3px 15px;
  color: white;
  border-radius: 7px;
  margin-left: auto;
  display: block;
  width: fit-content;
  border: none;
  outline: none;
  margin-top: 20px;
  cursor: pointer;
}
.wrapper .box2 form > textarea::placeholder,
.wrapper .box2 form > input::placeholder {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.wrapper .box2 > input:hover {
  background-color: var(--hover-color);
}
.wrapper .box3 .progress .group {
  display: flex;
  gap: 12px;
}
.wrapper .box3 .progress .group:not(:last-child) {
  margin-bottom: 20px;
}
.wrapper .box3 .progress .group .desc {
  flex: 1;
  align-self: flex-end;
}
.wrapper .box3 .progress .group .desc > p {
  font-size: 15px;
  color: #777;
  font-weight: 500;
  margin-bottom: 13px;
}
.wrapper .box3 .progress .group .desc > h3 {
  font-size: 19px;
  margin-bottom: 13px;
}
.wrapper .box3 .progress .group .desc > div.bar1 {
  width: 100%;
  height: 4px !important;
}
.wrapper .box3 .progress .group:nth-of-type(1) .desc > div.bar1 {
  background-color: hsla(212, 88%, 44%, 0.3);
}
.wrapper .box3 .progress .group:nth-of-type(2) .desc > div.bar1 {
  background-color: hsla(38, 92%, 50%, 0.3);
}
.wrapper .box3 .progress .group:nth-of-type(3) .desc > div.bar1 {
  background-color: hsla(142, 71%, 45%, 0.3);
}
.wrapper .box3 .progress .group .desc > div.bar1 > span {
  height: 4px;
  position: relative;
  display: block;
}
.wrapper .box3 .progress .group:nth-of-type(1) .desc > div.bar1 > span {
  background-color: var(--hover-color);
}
.wrapper .box3 .progress .group:nth-of-type(2) .desc > div.bar1 > span {
  background-color: var(--orange-color);
}
.wrapper .box3 .progress .group:nth-of-type(3) .desc > div.bar1 > span {
  background-color: var(--lime-color);
}
.wrapper .box3 .progress .group .desc > div.bar1 > span::after {
  content: attr(data-progress);
  top: -43px;
  right: -20px;
  position: absolute;
  background-color: inherit;
  padding: 4px 6px;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  font-size: 14px;
}
.wrapper .box3 .progress .group .desc > div.bar1 > span::before {
  content: "";
  top: -19px;
  right: -6px;
  position: absolute;
  font-weight: bold;
  border-color: var(--hover-color) transparent transparent transparent;
  border-width: 6px;
  border-style: solid;
}
.wrapper .box3 .progress .group:nth-of-type(2) .desc > div.bar1 > span::before {
  border-color: var(--orange-color) transparent transparent transparent;
}
.wrapper .box3 .progress .group:nth-of-type(3) .desc > div.bar1 > span::before {
  border-color: var(--lime-color) transparent transparent transparent;
}
.wrapper .box3 .progress :nth-of-type(1) > div.icon,
.wrapper .box3 .progress :nth-of-type(2) > div.icon,
.wrapper .box3 .progress :nth-of-type(3) > div.icon {
  width: 80px;
  height: 80px;
  position: relative;
}
.wrapper .box3 .progress .group:nth-of-type(1) > div.icon > i,
.wrapper .box3 .progress .group:nth-of-type(2) > div.icon > i,
.wrapper .box3 .progress .group:nth-of-type(3) > div.icon > i {
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .box3 .progress :nth-of-type(1) > div.icon {
  background-color: hsla(212, 88%, 44%, 0.3);
}
.wrapper .box3 .progress :nth-of-type(2) > div.icon {
  background-color: hsla(38, 92%, 50%, 0.3);
}
.wrapper .box3 .progress :nth-of-type(3) > div.icon {
  background-color: hsla(142, 71%, 45%, 0.3);
}
.wrapper .box3 .progress .group:nth-of-type(1) > div.icon > i {
  color: var(--hover-color);
}
.wrapper .box3 .progress .group:nth-of-type(2) > div.icon > i {
  color: var(--orange-color);
}
.wrapper .box3 .progress .group:nth-of-type(3) > div.icon > i {
  color: var(--lime-color);
}
.wrapper .box4 .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.wrapper .box4 .boxes .group {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 7px;
}
.wrapper .box4 .boxes .group > i {
  margin-bottom: 13px;
}
.wrapper .box4 .boxes .group > h3 {
  margin-bottom: 13px;
  font-size: 25px;
}
.wrapper .box4 .boxes .group > p {
  color: #777;
  font-weight: 500;
}
.wrapper .box5 .group {
  display: flex;
  align-items: center;
  gap: 20px;
}
.wrapper .box5 .group:not(:last-child) {
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.wrapper .box5 .group > img {
  width: 25%;
  border-radius: 7px;
}
.wrapper .box5 .group .desc1 > h3 {
  font-size: 17px;
  margin-bottom: 10px;
}
.wrapper .box5 .group .desc1 > p {
  color: #777;
  font-size: 14px;
  font-weight: 500;
}
.wrapper .box5 .group > p {
  background-color: #eee;
  padding: 3px 5px;
  font-weight: normal;
  display: block;
  margin-left: auto;
  font-size: 13px;
  border-radius: 7px;
  min-width: fit-content;
}
.wrapper .box6 .group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 0;
}
.wrapper .box6 .group:not(:last-child) {
  margin-bottom: 6px;
  border-bottom: 1px solid #eee;
}
.wrapper .box6 .group .desc2 > h3 {
  font-size: 16px;
  margin-bottom: 7px;
}
.wrapper .box6 .group .desc2 > p {
  color: #777;
  font-weight: 500;
}
.wrapper .box6 .group .ic > i {
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s ease;
}
.wrapper .box6 .group .ic > i:hover {
  color: red;
}
.wrapper .box6 .group .delete > h3 {
  color: #929292;
  opacity: 0.7;
}
.wrapper .box6 .group .delete > p {
  color: #929292;
  opacity: 0.4;
}
.flex-p {
  display: flex;
  justify-content: space-between;
  color: #777;
  font-weight: 500;
}
.wrapper .box7 .border-title > h2 {
  margin-bottom: 20px;
}
.wrapper .box7 .group {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}
.wrapper .box7 .group:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.wrapper .box7 .group > p:nth-of-type(1) {
  font-weight: 500;
}
.wrapper .box7 .group > p:nth-of-type(2) {
  font-size: 13px;
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 7px;
}
.wrapper .box7 {
  background-color: white;
  padding: 20px;
  overflow: hidden;
  border-radius: 7px;
}
.wrapper .box7 .group {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}
.wrapper .box7 .group .img > img {
  width: 12%;
  margin-right: 10px;
}
.wrapper .box7 .group div.img {
  display: flex;
}
.wrapper .box7 .group .img .desc3 > p:nth-of-type(1) {
  font-weight: 500;
  margin-bottom: 7px;
}
.wrapper .box7 .group .img .desc3 > p:nth-of-type(2) {
  font-weight: 500;
  color: #777;
}
.wrapper .box7 .group .mb > p {
  background-color: #eee;
  padding: 3px 5px;
  font-weight: normal;
  display: block;
  margin-left: auto;
  font-size: 13px;
  border-radius: 7px;
  min-width: fit-content;
}
.wrapper .box8 .border-title > h2 {
  margin-bottom: 20px;
}
.wrapper .box8 .border-title .flex-p {
  display: flex;
  justify-content: space-between;
  color: #777;
  font-weight: #777;
}
.wrapper .box8 .group {
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
}
.wrapper .box8 .group > p:nth-of-type(1) {
  font-weight: 500;
}
.wrapper .box8 .group > p:nth-of-type(2) {
  background-color: #eee;
  padding: 3px 5px;
  font-weight: normal;
  display: block;
  margin-left: auto;
  font-size: 13px;
  border-radius: 7px;
  min-width: fit-content;
}
.wrapper .box9 .group {
  display: flex;
  padding: 13px 0;
  gap: 15px;
  align-items: center;
}
.wrapper .box9 .circle {
  border-radius: 50%;
  background-color: white;
  width: 26px;
  height: 26px;
  border: 2px solid white;
  outline: 2px solid var(--main-color);
  position: relative;
}
.wrapper .box9 .group:last-child .circle {
  background-color: white;
}
.wrapper .box9 .group:not(:last-child) .circle::before {
  content: "";
  height: 29px;
  width: 2px;
  background-color: var(--main-color);
  position: absolute;
  top: 113%;
  left: 50%;
  transform: translateX(-50%);
}
.wrapper .box9 .group:not(:last-child) .circle::after {
  content: "";
  width: 21px;
  height: 21px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--main-color);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.wrapper .box9 .group:nth-of-type(5) .circle::after {
  animation: on-of linear infinite 2s;
}
.wrapper .box9 .desc {
  font-weight: 500;
}
.wrapper .box9 .group > img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  opacity: 0.1;
  margin-top: -20px;
}
@keyframes on-of {
  0%,
  40% {
    opacity: 0;
  }
  40%,
  70% {
    opacity: 1;
  }
  70%,
  100% {
    opacity: 0;
  }
}
.wrapper .box10 .group {
  display: flex;
  padding: 15px 0;
  align-items: center;
}
.wrapper .box10 .group .circle {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-right: 15px;
  min-width: 17px;
  min-height: 17px;
}
.wrapper .box10 .group .desc {
  padding-left: 15px;
}
.wrapper .box10 .group .desc > h3 {
  font-size: 17px;
  margin-bottom: 10px;
}
.wrapper .box10 .group .desc > p {
  color: #777;
  font-weight: 500;
}
.wrapper .box10 .group:nth-of-type(2) .desc {
  border-left: 2px solid var(--main-color);
}
.wrapper .box10 .group:nth-of-type(3) .desc {
  border-left: 2px solid var(--lime-color);
}
.wrapper .box10 .group:nth-of-type(4) .desc {
  border-left: 2px solid var(--orange-color);
}
.wrapper .box10 .group:nth-of-type(5) .desc {
  border-left: 2px solid var(--red-color);
}
.wrapper .box10 .group:nth-of-type(2) .circle {
  background-color: var(--main-color);
}
.wrapper .box10 .group:nth-of-type(3) .circle {
  background-color: var(--lime-color);
}
.wrapper .box10 .group:nth-of-type(4) .circle {
  background-color: var(--orange-color);
}
.wrapper .box10 .group:nth-of-type(5) .circle {
  background-color: var(--red-color);
}
.wrapper .box11 .group {
  display: flex;
}
.wrapper .box11 .group > img {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
.wrapper .box11 .group .desc > h3 {
  font-size: 17px;
  margin-bottom: 10px;
}
.wrapper .box11 .group .desc > p {
  color: #777;
  font-weight: 500;
}
.wrapper .box11 .post {
  font-weight: 500;
  padding: 30px 0;
  margin: 30px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  line-height: 1.7;
  font-size: 20px;
}
.wrapper .box11 .like-comments {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  color: #777;
}
.wrapper .box11 .like-comments .like {
  display: flex;
  gap: 5px;
  cursor: pointer;
}
.wrapper .box11 .like-comments .like:hover {
  color: red;
}
.wrapper .box11 .like-comments .like:hover i {
  font-weight: bold;
}
.wrapper .box11 .like-comments .comments {
  display: flex;
  gap: 5px;
}
.wrapper .box12 .group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  height: 60px;
  padding-right: 15px;
}
.wrapper .box12 .group .twitter .desc > p {
  font-weight: 500;
}
.wrapper .box12 .group:not(:last-child) {
  margin-bottom: 10px;
}
.wrapper .box12 .group:nth-of-type(2) {
  background-color: hsla(203, 89%, 53%, 0.3);
  color: #1da1f2;
}
.wrapper .box12 .group:nth-of-type(3) {
  background-color: hsl(214, 89%, 52%, 0.3);
  color: #1877f2;
}
.wrapper .box12 .group:nth-of-type(4) {
  background-color: rgb(255, 0, 0, 0.3);
  color: red;
}
.wrapper .box12 .group:nth-of-type(5) {
  background-color: rgb(0, 119, 181, 0.3);
  color: #0077b5;
}
.wrapper .box12 .group .twitter {
  display: flex;
  align-items: center;
}
.wrapper .box12 .twitter > i {
  font-size: 30px;
  padding: 10px;
  width: 60px;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.wrapper .box12 .group:nth-of-type(2) .twitter i,
.wrapper .box12 .group:nth-of-type(2) .follow a {
  background-color: #1da1f2;
}
.wrapper .box12 .group:nth-of-type(3) .twitter i,
.wrapper .box12 .group:nth-of-type(3) .follow a {
  background-color: #1877f2;
}
.wrapper .box12 .group:nth-of-type(4) .twitter i,
.wrapper .box12 .group:nth-of-type(4) .follow a {
  background-color: red;
}
.wrapper .box12 .group:nth-of-type(5) .twitter i,
.wrapper .box12 .group:nth-of-type(5) .follow a {
  background-color: #0077b5;
}
.wrapper .box12 .group .follow a {
  padding: 5px 10px;
  margin-left: auto;
  font-size: 13px;
  border-radius: 7px;
  min-width: fit-content;
  color: white;
  font-weight: 500;
}
/* Separator */
.box13 {
  overflow-x: auto;
}
.box13 table {
  border: 1px solid #eee;
  padding: 0;
  border-spacing: 0;
  font-weight: 500;
  width: 100%;
  min-width: 1000px;
}
.box13 table thead {
  background-color: #eee;
  text-align: left !important;
}
.box13 table thead th {
  padding: 20px;
}
.box13 table tbody td {
  padding: 20px;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.box13 table tbody td:nth-of-type(5) img:not(:nth-of-type(1)) {
  margin-left: -20px;
}
.box13 table tbody td:last-child p {
  color: white;
  padding: 5px 10px;
  width: fit-content !important;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;
}
.box13 table tbody:nth-of-type(1) td:last-child p {
  background-color: var(--orange-color);
}
.box13 table tbody:nth-of-type(2) td:last-child p {
  background-color: var(--main-color);
}
.box13 table tbody:nth-of-type(3) td:last-child p {
  background-color: var(--lime-color);
}
.box13 table tbody:nth-of-type(4) td:last-child p {
  background-color: var(--lime-color);
}
.box13 table tbody:nth-of-type(5) td:last-child p {
  background-color: var(--red-color);
}
.box13 table tbody:nth-of-type(6) td:last-child p {
  background-color: var(--lime-color);
}
.box13 table img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 2px solid white;
}
.box13 table tbody td {
  transition: 0.3s ease;
}
.box13 table tbody:hover td {
  background-color: #f8f8f8;
}
.wrapper .settings1 {
  background-color: white;
  border-radius: 7px;
  overflow: hidden;
  padding: 20px;
}
.wrapper .settings1 .group .turn-on {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
}
.wrapper .settings1 .group textarea {
  display: block;
  width: 100%;
  min-height: 180px;
  background-color: #eee;
  border-radius: 5px;
  padding: 10px;
  border: none;
  outline: none;
}
.wrapper .settings1 .group .turn-on .desc > h3 {
  font-size: 16px;
  margin-bottom: 7px;
}
.wrapper .settings1 .group .turn-on .desc > p {
  color: #777;
  font-weight: 500;
  font-size: 13px;
}
.checkbox-wrapper {
  display: inline-block;
  min-width: 70px;
  height: 30px;
  background-color: #ccc;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.checkbox-wrapper input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkbox-background {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #ccc;
  transition: 0.3s ease;
}
.checkmark {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 3px;
  transition: 0.3s ease;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  cursor: pointer;
}
.checkmark::before {
  font-family: "Font Awesome 6 Free";
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: 0.3s;
}
.checkbox-wrapper input:checked + .checkbox-background {
  background-color: var(--main-color);
}
.checkbox-wrapper input:checked + .checkbox-background + .checkmark {
  transform: translate(40px, -50%);
}
.checkbox-wrapper input:checked + .checkbox-background + .checkmark::before {
  content: "\f00c";
  color: var(--main-color);
}
.wrapper .settings2 {
  background-color: white;
  padding: 20px;
  border-radius: 7px;
  overflow: hidden;
}
.wrapper .settings2 label {
  display: block;
  margin-bottom: 10px;
  color: #777;
  font-weight: 500;
}
.wrapper .settings2 .group {
  padding: 10px 0;
}
.wrapper .settings2 .group input {
  padding: 10px;
  width: 100%;
  border-radius: 7px;
  border: 1px solid #ccc;
  outline: none;
}
.wrapper .settings2 .group:nth-of-type(4) .flex > input {
  cursor: no-drop;
  background-color: #f0f4f8;
  color: #bbb;
  flex: 1;
  font-size: 13px;
}
.flex a {
  color: var(--main-color);
}
.wrapper .settings2 .group .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.wrapper .settings3 {
  background-color: white;
  overflow: hidden;
  border-radius: 7px;
  padding: 20px;
}
.wrapper .settings3 .group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 0;
}
.wrapper .settings3 .group:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.wrapper .settings3 .group:nth-of-type(2) a {
  color: white;
  background-color: var(--main-color);
  padding: 5px 10px;
  border-radius: 7px;
  font-weight: bold;
  transition: 0.3s ease;
}
.wrapper .settings3 .group:nth-of-type(2) a:hover {
  background-color: var(--hover-color);
}
.wrapper .settings3 .group:nth-of-type(4) a {
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 7px;
  font-weight: bold;
  color: black;
  transition: 0.3s ease;
}
.wrapper .settings3 .group:nth-of-type(4) a:hover {
  background-color: #ddd;
}
.wrapper .settings4 {
  background-color: white;
  padding: 20px;
  overflow: hidden;
  border-radius: 7px;
}
.wrapper .settings4 .group {
  border: 1px solid #ddd;
  display: flex;
  border-radius: 7px;
  overflow: hidden;
  flex-direction: row-reverse;
}
.wrapper .settings4 .group:not(:last-child) {
  margin-bottom: 15px;
}
.wrapper .settings4 .group input {
  background-color: #f6f6f6;
  padding: 10px;
  border: none;
  width: 100%;
  outline: none;
}
.wrapper .settings4 .group i {
  color: #ccc;
  background-color: #f6f6f6;
  padding: 10px;
  border-right: 1px solid #ddd;
  border-radius: 7px 0 0 7px;
  max-width: 35px;
  min-height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  min-width: 35px;
}
.wrapper .settings4 input:focus + i {
  color: black;
}
.wrapper .settings5 {
  background-color: white;
  padding: 20px;
  border-radius: 7px;
  overflow: hidden;
}
.wrapper .settings5 label {
  display: block;
  font-weight: 500;
  padding: 10px 0;
  width: fit-content;
  cursor: pointer;
}
.wrapper .settings5 .group label > input {
  cursor: pointer;
  margin-right: 7px;
  width: 15px;
  height: 15px;
  transition: 0.3s ease;
}
.wrapper .settings5 .group label > input:checked {
  transition: 0.6s ease;
  transform: rotate(360deg);
}
.wrapper .settings6 {
  background-color: white;
  padding: 20px;
  overflow: hidden;
  border-radius: 7px;
  font-weight: 500;
}
.wrapper .settings6 .group:nth-of-type(2):not(:last-child) {
  border-bottom: 1px solid #eee;
}
.wrapper .settings6 .group:nth-of-type(2) label {
  display: block;
  width: fit-content;
  padding: 13px 0;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.wrapper .settings6 .group:nth-of-type(2) label > input {
  min-width: 20px;
  cursor: pointer;
  min-height: 20px;
  font-weight: bold;
}
.wrapper .settings6 .group:nth-of-type(2) label > input:checked {
  background-color: white;
  opacity: 1;
  border: 122px solid var(--main-color);
}
.wrapper .settings6 .group:nth-of-type(3) {
  padding: 15px 0;
  display: flex;
  gap: 10px;
}
.wrapper .settings6 .group:nth-of-type(3) .background {
  text-align: center;
  flex: 1;
  padding: 25px;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.wrapper .settings6 .group:nth-of-type(3) .background label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .settings6 .group:last-child .background input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 10000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.wrapper .settings6 .group:last-child .background input + i {
  margin-bottom: 10px;
}
.wrapper
  .settings6
  .group:last-child
  .background
  input
  + i
  + label
  + .border-of-back {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 3px solid var(--grey-color);
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper
  .settings6
  .group:last-child
  .background
  input:checked
  + i
  + label
  + .border-of-back {
  border: 3px solid var(--main-color);
}
.wrapper .settings6 .group:last-child .background input:checked + i,
.wrapper .settings6 .group:last-child .background input:checked + i + label {
  color: var(--main-color);
}
.wrapper2 .profile2 {
  background-color: white;
  overflow: hidden;
  border-radius: 7px;
  grid-area: fr;
  display: flex;
}
.wrapper2 .profile2 .box1 {
  padding: 50px;
  text-align: center;
  border-right: 1px solid #eee;
  border-radius: 0;
}
.wrapper2 .profile2 .box1 img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.wrapper2 .profile2 .box1 .icons-lol {
  color: var(--orange-color);
  margin-bottom: 15px;
}
.wrapper2 .profile2 .box1 > h3 {
  margin-bottom: 15px;
  font-size: 21px;
}
.wrapper2 .profile2 .box1 p {
  color: #777;
  font-weight: 500;
  margin-bottom: 15px;
}
.wrapper2 .profile2 .box1 > p:last-child {
  font-size: 13px;
}
.wrapper2 .profile2 .infos {
  flex: 1;
}
.wrapper2 .profile2 .box2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: fit-content;
  border-bottom: 1px solid #eee;
  border-radius: 0;
  transition: 0.3s ease;
}
.wrapper2 .profile2 .box2:hover {
  background-color: #f9f9f9;
}
.wrapper2 .profile2 .box2 > h4 {
  width: 100%;
  font-weight: 500;
  color: #777;
  margin: 0;
  margin-bottom: 8px;
}
.wrapper2 .profile2 .box2 .desc {
  min-width: 250px;
  padding: 5px 0;
}
.wrapper2 .profile2 .box2 .desc > p > span {
  font-weight: 500;
  color: black;
  font-size: 14px;
}
.wrapper2 .profile2 .box2 .desc > p {
  font-size: 14px;
  color: #777;
  font-weight: 500;
}
.wrapper2 .my-skills {
  background-color: white;
  border-radius: 7px;
  overflow: hidden;
  padding: 20px;
  grid-area: ft;
}
.wrapper2 .my-skills .group {
  padding: 17px 0;
}
.wrapper2 .my-skills .group:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.wrapper2 .my-skills .group span {
  font-size: 14px;
  padding: 4px 10px;
  background-color: #eee;
  border-radius: 7px;
}
.wrapper2 {
  grid-template-areas:
    "fr fr fr"
    "ft fd fd";
}
.wrapper2 .lastest {
  background-color: white;
  border-radius: 7px;
  overflow: hidden;
  padding: 20px;
  grid-area: fd;
}
.wrapper2 .lastest img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.wrapper2 .lastest .group {
  display: flex;
  align-items: center;
  gap: 7px;
  border-radius: 0;
}
.wrapper2 .lastest .group:not(:last-child) {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.wrapper2 .lastest .group .desc {
  flex: 1;
}
.wrapper2 .lastest .group .desc > h3 {
  margin-top: -5px;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}
.wrapper2 .lastest .group .desc > span {
  color: #777;
  font-weight: 500;
}
.wrapper3 .project1 {
  background-color: white;
  padding: 20px;
  overflow: hidden;
  border-radius: 7px;
  position: relative;
}
.wrapper3 .project1 .project-title {
  margin-bottom: 30px;
}
.wrapper3 .project1 .project-title > h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 7px;
}
.wrapper3 .project1 .project-title > p {
  font-weight: 500;
  color: #777;
  font-size: 14px;
  line-height: 1.7;
}
.wrapper3 .project1 .img-group {
  margin-bottom: 10px;
}
.wrapper3 .project1 .img-group > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
  position: relative;
}
.wrapper3 .project1 .img-group > img:not(:first-child) {
  margin-left: -20px;
}
.wrapper3 .project1 .img-group > img:hover {
  z-index: 1000;
}
.wrapper3 .project1 .projects-group {
  padding: 20px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-align: right;
}
.wrapper3 .project1 .projects-group > span {
  font-size: 13px;
  padding: 3px 10px;
  background-color: #f4f4f4;
  border-radius: 7px;
}
.wrapper3 .project1 .stats-group {
  padding: 20px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper3 .project1 .stats-group .bar {
  width: 250px;
  height: 8px;
  border-radius: 15px;
  background-color: #f5f5f5;
  position: relative;
  overflow: hidden;
}
.wrapper3 .project1 .stats-group .bar > span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--red-color);
  height: inherit;
  border-radius: 15px;
}
.wrapper3 .project1 p.dollar {
  position: relative;
  color: #777;
  font-weight: 500;
  font-size: 15px;
}
.wrapper3 .project1 p.dollar::before {
  content: "\24";
  padding-right: 3px;
}
.wrapper4 .course {
  background-color: white;
  overflow: hidden;
  border-radius: 7px;
  position: relative;
}
.wrapper4 .course > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  top: 20px;
  left: 20px;
}
.wrapper4 .course .img-course > img {
  width: 100%;
}
.wrapper4 .course .article-course {
  padding: 20px;
}
.wrapper4 .course .article-course > h3 {
  font-size: 16px;
  margin: 0;
  margin-bottom: 15px;
}
.wrapper4 .course .article-course > p {
  color: #777;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
}
.wrapper4 .course .stats-course {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 15px;
  border-top: 1px solid #eee;
  margin-top: 20px;
  position: relative;
}
.wrapper4 .course .stats-course > p:first-child {
  cursor: default;
  font-weight: 500;
  color: #777;
}
.wrapper4 .course .stats-course > p:first-child::before {
  font-family: "Font Awesome 6 Free";
  content: "\f007";
  color: #777;
  font-weight: 400;
  font-size: inherit;
  padding-right: 3px;
}
.wrapper4 .course .stats-course > p:last-child {
  font-weight: 500;
  cursor: default;
  color: #777;
}
.wrapper4 .course .stats-course > p:last-child::before {
  font-family: "Font Awesome 6 Free";
  content: "\24";
  color: #777;
  font-weight: 900;
  font-size: inherit;
  padding-right: 3px;
}
.wrapper4 .course .stats-course > p:nth-of-type(2) {
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
  padding: 5px 10px;
  color: white;
  font-weight: 500;
  border-radius: 7px;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s ease;
}
.wrapper4 .course .stats-course > p:nth-of-type(2):hover {
  background-color: var(--hover-color);
}
.wrapper4 .friends {
  background-color: white;
  padding: 20px;
  overflow: hidden;
  border-radius: 7px;
  text-align: center;
  position: relative;
}
.wrapper4 .friends .call {
  position: absolute;
  top: 10px;
  left: 10px;
}
.wrapper4 .friends .call > i {
  padding: 10px;
  border-radius: 50%;
  color: #666;
  background-color: #eee;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s ease;
}
.wrapper4 .friends .call > i:hover {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
}
.wrapper4 .friends .img-friends img {
  border-radius: 50%;
  margin-bottom: 10px;
  width: 110px;
  height: 110px;
}
.wrapper4 .friends .friends-name {
  margin-bottom: 20px;
}
.wrapper4 .friends .friends-name > h3 {
  font-size: 16px;
  margin: 0;
  margin-bottom: 7px;
}
.wrapper4 .friends .friends-name > p {
  font-weight: 500;
  color: #777;
  font-size: 13px;
}
.wrapper4 .friends .friends-emotions {
  text-align: start;
  padding: 10px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  position: relative;
}
.wrapper4 .friends .friends-emotions > p {
  font-size: 14px;
  padding: 5px 0;
  font-weight: 500;
}
.wrapper4 .friends .friends-emotions > p.vip {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 40px;
  color: var(--orange-color);
  opacity: 0.2;
  font-weight: bold;
}
.wrapper4 .friends .friends-emotions > p > i {
  margin-right: 7px;
}
.wrapper4 .friends .friends-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  padding-bottom: 0;
}
.wrapper4 .friends .friends-button .date > p {
  font-size: 13px;
  color: #777;
  font-weight: 500;
}
.wrapper4 .friends .friends-button .buttons > a {
  font-size: 13px;
  color: white;
  background-color: var(--main-color);
  padding: 3px 10px;
  border-radius: 7px;
  font-weight: 500;
}
.wrapper4 .friends .friends-button .buttons > a:hover {
  background-color: var(--hover-color);
}
.wrapper4 .friends .friends-button .buttons > a:last-child {
  font-size: 13px;
  font-weight: 500;
  color: white;
  background-color: var(--red-color);
  padding: 3px 10px;
  border-radius: 7px;
}
.wrapper4 .friends .friends-button .buttons > a:last-child:hover {
  background-color: #ab3128;
}
.wrapper4 .friends .friends-button .buttons > button {
  font-size: 14px;
  color: white;
  background-color: var(--red-color);
  padding: 3px 10px;
  border-radius: 7px;
  border: none;
  outline: none;
}
.wrapper5 .file {
  background-color: white;
  padding: 25px 10px 10px 10px;
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
  position: relative;
}
.wrapper5 .file > i {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #777;
  cursor: pointer;
  transition: 0.3s ease;
}
.wrapper5 .file > i:hover {
  color: var(--main-color);
}
.wrapper5 .file .file-img > img {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
  transition: 0.3s ease;
}
.wrapper5 .file .file-img > img:hover {
  transform: rotate(5deg);
}
.wrapper5 .file .file-title > p {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 15px;
}
.wrapper5 .file .name {
  text-align: left;
  margin-bottom: 10px;
}
.wrapper5 .file .name > span {
  color: #777;
  font-weight: 500;
  font-size: 13px;
}
.wrapper5 .file .file-stats {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #777;
  padding: 10px 0 0 0;
  border-top: 1px solid #eee;
}
.file-static {
  background-color: white;
  padding: 20px;
  height: fit-content;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 20px;
  min-width: 260px;
}
.file-static .group {
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 7px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.file-static .group:not(:last-child) {
  margin-bottom: 15px;
}
.file-static .group .file-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.file-static .group i {
  min-width: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(212, 88%, 44%, 0.2);
  color: var(--main-color);
}
.file-static .group .desc {
  flex: 1;
}
.file-static .group .desc > p:first-child {
  font-weight: 500;
  margin-bottom: 7px;
}
.file-static .group .desc > p:last-child {
  color: #777;
  font-weight: 500;
}
.file-static .group .giga {
  color: #777;
  font-weight: 500;
}
.file-static .upload {
  text-align: center;
  padding-top: 15px;
  margin-bottom: 5px;
  transition: 0.3s ease;
}
.file-static .upload a {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: var(--main-color);
  color: white;
  font-size: 13px;
  transition: 0.3s ease;
}
.file-static .upload:hover {
  transform: scale(1.2);
}
.file-static .upload i {
  padding-right: 10px;
}
.file-static .upload:hover i {
  animation: bouncing-up 1s ease infinite;
}
@keyframes bouncing-up {
  0%,
  40% {
    transform: translateY(0);
  }
  40%,
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
.wrapper .plan {
  background-color: white;
  padding: 20px;
  border-radius: 7px;
  overflow: hidden;
}
.wrapper .plan .plan-title {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: var(--lime-color);
  color: white;
  font-weight: bold;
  border: 3px solid white;
  outline: 3px solid var(--lime-color);
  position: relative;
  height: 120px;
  margin-bottom: 20px;
}
.wrapper .plan .plan-title > p:first-child {
  font-size: 23px;
  margin-bottom: 10px;
}
.wrapper .plan .plan-title > p:last-child {
  font-size: 35px;
  font-weight: 500;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.wrapper .plan .plan-title > p:last-child::before {
  content: "$";
  position: absolute;
  left: -15%;
  transform: translateX(-50%);
  font-size: 23px;
}
.wrapper .plan ul li {
  padding: 15px 25px;
  position: relative;
  border-bottom: 1px solid #eee;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.wrapper .plan ul li:not(li.true)::before {
  font-family: "Font Awesome 6 Free";
  content: "\f00d";
  color: var(--red-color);
  position: absolute;
  left: 0;
  font-weight: 900;
  font-size: 18px;
}
.wrapper .plan ul li.true::before {
  font-family: "Font Awesome 6 Free";
  content: "\f00c";
  font-weight: 900;
  color: var(--lime-color);
  position: absolute;
  left: 0;
  font-size: 18px;
}
.wrapper .plan ul li::after {
  font-family: "Font Awesome 6 Free";
  content: "\f05a";
  color: var(--grey-color);
  font-weight: 900;
  position: absolute;
  right: 0;
  cursor: pointer;
  font-size: 18px;
}
.wrapper .plan .plan-button {
  margin-top: 15px;
}
.wrapper .plan .plan-button > a {
  padding: 5px 10px;
  background-color: var(--lime-color);
  border-radius: 7px;
  color: white;
  font-weight: bold;
}
.wrapper .plan:nth-of-type(2) .plan-title {
  background-color: var(--main-color);
  outline: 3px solid var(--main-color);
}
.wrapper .plan:nth-of-type(2) .plan-button > a {
  background-color: var(--main-color);
}
.wrapper .plan:nth-of-type(3) .plan-title {
  background-color: var(--orange-color);
  outline: 3px solid var(--orange-color);
}
.wrapper .plan:nth-of-type(3) .plan-button > a {
  background-color: var(--orange-color);
}
